body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #FCFCFA;
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
}

nav {
    position: fixed;
    width: 100%;
}

.material-icons {
    color: #1F1F1E;
}

h1, h2, h3 {
    font-family: 'Fredoka One', cursive;
}

.nav-wrapper {
    background: #FFFFFA;
}

.nav-wrapper li a {
    color: #1F1F1E;
}

.header-logo {
    height: 100%;
    width: auto;
    padding: 0vh 4vw;
}

.dropdown-content {
    top: -64.5px;
}

@media screen and (max-width: 1024px) {
    .dropdown-content {
        top: -50px;
    }
}

@media screen and (max-width: 768px) {
    .header-logo {
        padding: 0vh 0vw;
        /* display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%; */
    }
}

main {
    width: 100vw;
}

.hero {
    position: relative;
    text-align: center;
    z-index: -2;
    max-height: auto;
    max-width: 100%;
}

.herotxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px white;
}

.heroimg {
    max-height: auto;
    max-width: 100%;
}
.mission-container {
    width: 100%;
}

.mission-cards {
    position: relative;
    z-index: -1;
}

.blue-grey .card-content {
    background: #38c45d;
}

footer.page-footer {
    padding-top: 0;
    background: white;
}

.container {
    color: #1F1F1E;
}

